<h1>Editing immobilier</h1>

<%= render "form", immobilier: @immobilier %>

<br>

<div>
  <%= link_to "Show this immobilier", @immobilier %> |
  <%= link_to "Back to immobiliers", immobiliers_path %>
</div>
